@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --color1: #e6ceff;
    --color2: #d1c4e9;
    --color3: #a094b7;
    --color4: #b39ddb;
    --color5: #836fa9;
    --color6: #463b5a;
}

* {
    font-family: 'Noto Sans Mono', monospace;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: var(--color2);
    color: var(--color6);
}

header {
    background-image: url('../Media/6831455.jpg');
    background-position: relativa;
    background-size: cover;
    margin: auto;
    padding-bottom: 1px;
}

header a {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;  
    color: var(--color1);
}

header > h1 {
    text-align: center;
    color: var(--color1);
    text-shadow: 2px 2px #463b5a;
    display: block;
    padding: 1em;
    font-family: 'Dancing Script', cursive;  
    font-size: 4em; 
}

header > p {
    text-align: center;
    color: var(--color1);
    text-shadow: 2px 2px #463b5a;
    text-align: center;
    padding-bottom: 2em;
    font-family: 'Noto Sans Mono', monospace; 
    font-size: 1em; 
}

i#burguer {
    background-color: rgb(48, 48, 48);
    color: var(--color1);
    display: block;
    text-align: center;
    padding: 10px
}

i#burguer:hover {
    background-color: var(--color1);
    color: var(--color6);
}

menu {
    display: none;
    margin: 1%;
    margin-left: 2vw;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--color6);
    color: white;
    border-top: 1px solid var(--color3);
    border-radius: 10px;
}

menu > ul > li > a:hover {
    background-color: var(--color3);
} 

main {

    width: 90vw;
    background-color: var(--color1);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    
}

p {
    padding: 5px;
}

table {
    margin-bottom: 10px;
}

td {
    border: 1px solid var(--color3);
    padding: 10px;
}

article > h2 {
    padding-bottom: 20px;
    font-family: 'Dancing Script', cursive;  
    background-color: var(--color6);
    color: var(--color1);
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

footer {
    font-family: 'Dancing Script', cursive; 
    background-color: var(--color6);
    color: var(--color1);
    text-align: center;
    padding: 10px;
    margin: auto;

}

footer a {
    text-decoration: none;
    color: var(--color1);
}
